.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #ffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  border: none;
    font-size: 18px;
  }
  
  .confirm-button1 {
    background-color: #d9534f; /* Bootstrap danger color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  .confirm-button1:hover{
    background-color: red;
  }
  
  .cancel-button {
    background-color:royalblue; /* Bootstrap info color */
    color: white;
  }
 
  