.TenantMainContainer{
    height: 97%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.TenantMainContainerHeader{
    /* height: 12%; */
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;

    & h3{
        font-size: 20px;
    }

    & p {
        font-size: 16px;
        font-weight: 600;
        margin-top: 5px;
    }
}
.TenantMainContainerright{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.TenantMainDown{
    height: 85%;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.TenantMainDownHeader{
    height: 10%;
    width: 91.8%;
    background-color: #D9E8FF;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;

    & strong{
        font-weight: 600;
        font-size:15px;
    }
}
.TenantMaindowncon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.TextMainInage{
    height: 500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
    align-items: center;
    justify-content: center;


    & button{
        height: 50px;
        width: 200px;
        border-radius: 30px;
        background-color: #4D86DB;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 15px;
    }
}
